<div class=" mat-sidenav-content mt-5 pt-5">
    <div class="container">
        <div class="lead tr-section">
            <header><span>
                    <h2>Lorem ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </span></header>
        </div>
        <div class="recentupdates-container">
            <!---->
            <div class="post tr-section ng-star-inserted">
                <div class="date">2021. máj. 6.</div>
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis
                    aute irure dolor in reprehenderit</div>
                <!----><a class="tr-action-text darker-blue ng-star-inserted" rel="noopener noreferrer" target="_blank"
                    trcta="" _nghost-lnu-c20=""
                    href="https://transparencyreport.google.com/android-security/overview/">Lorem ipsum<i
                        _ngcontent-lnu-c20="" aria-hidden="true" class="material-icons">arrow_forward</i></a>
            </div>
            <div class="post tr-section ng-star-inserted">
                <div class="date">2021. ápr. 8.</div>
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis
                    aute irure dolor in reprehenderit</div>
                <!----><a class="tr-action-text darker-blue ng-star-inserted" rel="noopener noreferrer" target="_blank"
                    trcta="" _nghost-lnu-c20=""
                    href="https://transparencyreport.google.com/government-removals/overview/">Lorem ipsum<i
                        _ngcontent-lnu-c20="" aria-hidden="true" class="material-icons">arrow_forward</i></a>
            </div>
            <div class="post tr-section ng-star-inserted">
                <div class="date">2021. febr. 24.</div>
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis
                    aute irure dolor in reprehenderit</div>
                <!----><a class="tr-action-text darker-blue ng-star-inserted" rel="noopener noreferrer" target="_blank"
                    trcta="" _nghost-lnu-c20=""
                    href="https://transparencyreport.google.com/child-sexual-abuse-material/">Lorem ipsum<i
                        _ngcontent-lnu-c20="" aria-hidden="true" class="material-icons">arrow_forward</i></a>
            </div>
        </div>
    </div>
</div>