.divider {
  border-right: 1px solid #f2f2f2;
  margin: 5px 0px;
}

.justify-content-start {
  width: 100%;
}

.justify-content-end {
  width: 100%;
}

.sessionTimeout {
  font-size: 11px;
  font-weight: 500;
  color: #9d9d9d;
}
