@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";

.table {
  .td-user-image {
    max-width: 24px;
  }

  .td-edit {
    display: inline-block;
    svg {
      color: $primary;
    }
  }

  .td-delete {
    display: inline-block;
    svg {
      color: $primary;
    }
  }
}
