<div class="container mt-3 ">
    <div class="container-fluid pb-5">
        <div class="row row-content">
            <div class="alert alert-danger " *ngIf="error">
                <p class="mb-0">{{ error }}</p>
            </div>
            <div class="col-md-12 mb-3">

                <div class="container  pb-3 mt-3 ps-0 pe-0 rounded bg-white">

                    <div class="row">
                        <div class="col-xs-12 mb-3 pt-3 ps-4">
                            <h2 class="font-weight-light">List of Users</h2>
                        </div>
                        <div class="col-xs-12 p-4 pt-0">
                            <div class="row p-4 pt-0">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">id</th>
                                            <th scope="col">username</th>
                                            <th scope="col">email</th>
                                            <th scope="col">bio</th>
                                            <th scope="col">image</th>
                                            <th scope="col">action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of data"
                                            [ngClass]="item.currentUser == true ? 'currentUser' : ''">
                                            <td>{{ item.id }}</td>
                                            <td>{{ item.username }}</td>
                                            <td>{{ item.email }}</td>
                                            <td>{{ item.bio }}</td>
                                            <td><img class="td-user-image" [src]="item.image" /></td>
                                            <td>
                                                <button button class="btn td-delete m-1"
                                                    (click)="deleteUser(item.email)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-trash-fill"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                                    </svg>
                                                </button>

                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>