<div class="container mt-3 ">
    <div class="container-fluid pb-5">
        <div class="row row-content">
            <div class="col-md-9 mb-3">
                <div class="container  pb-3 mt-3 ps-0 pe-0 rounded bg-white">
                    <div class="row">
                        <div class="col-xs-12 mb-3 pt-3 ps-4">
                            <h2 class="font-weight-light">Articles</h2>
                        </div>
                        <div class="col-xs-12 p-4 pt-0 pb-0">
                            <div class="row">
                                <div class="col-sm-4 ps-2 pe-2">
                                    <app-article-card></app-article-card>
                                </div>
                                <div class="col-sm-4 ps-2 pe-2">
                                    <app-article-card></app-article-card>
                                </div>
                                <div class="col-sm-4 ps-2 pe-2">
                                    <app-article-card></app-article-card>
                                </div>
                                <div class="col-sm-4 ps-2 pe-2">
                                    <app-article-card></app-article-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3 ">
                <div class="container mt-3 p-0 bg-white rounded">
                    <div class="row">
                        <div class="col-xs-12  mb-3 pt-3 ps-4">
                            <h2 class="font-weight-light">Favourites</h2>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-12 ps-3 pe-3">
                            <app-article-card-fav></app-article-card-fav>
                            <app-article-card-fav></app-article-card-fav>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>