<div class="masthead">
    <section class="container ">
        <div class="tr-section background-image"
            style="background-image: url('https://www.gstatic.com/transparencyreport/385515378/assets/home/masthead_background.svg');">
            <div class="content">
                <h1 class="site-name">Duis aute irure dolor</h1>
                <div class="tagline">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.

                </div>
            </div>
        </div>
    </section>
</div>