.masthead {
  background: #4285f4;
  color: #fff;
}

@media (min-width: 1200px) {
  .masthead .tr-section {
    background-size: auto;
  }
}

element.style {
  background-image: url(https://www.gstatic.com/transparencyreport/385515378/assets/home/masthead_background.svg);
}
@media (min-width: 1200px) {
  .masthead .tr-section {
    background-size: auto;
  }
  .tr-section {
    margin: 0 auto;
    width: 1120px;
  }
  /*   .tr-gutter,
    .tr-section {
      padding-left: 40px;
      padding-right: 40px;
    } */
}

@media (min-width: 768px) {
  .masthead .background-image {
    background-size: 60%;
  }
}
@media (min-width: 768px) {
  .masthead .tr-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.masthead .tr-section {
  padding-bottom: 160px;
}

.masthead .background-image {
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 90%;
}

.masthead .md-lite h1.site-name,
.md-lite h1.site-name {
  text-transform: none;
}

.masthead h1.site-name {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none;
  text-transform: none;
}

.masthead .tagline {
  font-size: 34px;
  font-weight: 300;
  line-height: 46px;
  max-width: 500px;
  margin-bottom: 25px;
}
