<div class="container mt-3 ">
    <div class="container-fluid pb-5">
        <div class="row row-content">
            <div class="col-md-9 mb-3">
                <div class="container  pb-3 mt-3 ps-0 pe-0 rounded bg-white">
                    <div class="row">
                        <div class="col-xs-12 mb-3 pt-3 ps-4">
                            <h2 class="font-weight-light">Create New Article</h2>
                        </div>
                        <div class="col-xs-12 p-4 pt-0 pb-0">
                            <div class="row">
                                <form #articleForm="ngForm" (ngSubmit)="updateCreateArticle(articleForm)">
                                    <div class="d-flex form-group mb-3">
                                        <input type="text" class="form-control" name="title" placeholder="Title"
                                            [(ngModel)]="title" required />
                                    </div>
                                    <div class="d-flex form-group mb-3">
                                        <input type="description" class="form-control" name="description"
                                            placeholder="Description" [(ngModel)]="description" />
                                    </div>
                                    <div class="d-flex form-group mb-3">
                                        <textarea rows="7" class="form-control" name="body"
                                            placeholder="Type your article here..." [(ngModel)]="body"
                                            required></textarea>
                                    </div>
                                    <div class="form-group d-flex justify-content-end">
                                        <button button type="submit" class="btn btn-primary me-1 ">Publish article
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3 ">
                <!-- Sidebar -->
                <app-sidebar-tags (sideBarTagForm)="getTags($event)" [tagsFromEdit]="tags">
                </app-sidebar-tags>
                <app-sidebar-image (sideBarImage)="getImage($event)"></app-sidebar-image>
            </div>
        </div>
    </div>
</div>