<div class="current-reports">
    <div class="container mt-5 tr-section">
        <h2>Lorem ipsum</h2>
        <div class="column-layout">
            <div class="grouping"
                style="background-image: url(&quot;https://www.gstatic.com/transparencyreport/385515378/assets/home/security_and_privacy_reports.svg&quot;);">
                <h3>Dolor sit amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis
                    aute irure dolor in reprehenderit</p>
            </div>
            <div class="grouping"
                style="background-image: url(&quot;https://www.gstatic.com/transparencyreport/385515378/assets/home/content_removal_reports.svg&quot;);">
                <h3>Ut enim ad minim</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis
                    aute irure dolor in reprehenderit</p>
            </div>
            <div class="grouping"
                style="background-image: url(&quot;https://www.gstatic.com/transparencyreport/385515378/assets/home/additional_reports.svg&quot;);">
                <h3>Ut enim ad minim</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis
                    aute irure dolor in reprehenderit</p>
            </div>
        </div>
    </div>
</div>