@media (min-width: 1200px) {
  .current-reports .grouping {
    margin: auto;
    max-width: 215px;
  }
}

.current-reports .grouping {
  background: none 0 0 no-repeat;
  background-position: top;
  background-size: auto 130px;
  margin-top: 20px;
  padding-top: 140px;
  text-align: center;
}
@media (min-width: 768px) {
  .md-lite h5,
  .md-lite h6,
  .md-lite div,
  body.md-lite,
  .md-lite p {
    font-size: 15px;
  }
}

.md-lite h5,
.md-lite h6,
.md-lite div,
body.md-lite,
.md-lite p {
  letter-spacing: 0.01em;
  font-weight: 300;
  font-size: 14px;
}
@media (min-width: 1200px) {
  .grouping {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-right: 30px;
    margin-bottom: 0;
    overflow: hidden;
    word-break: break-word;
  }
}

.column-layout {
  display: flex;
  justify-content: center;
}

//Text

.md-lite h2 .md-lite h2 .md-lite h4 .md-lite h4 {
  text-transform: none;
}

h2 {
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  line-height: 24px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .md-lite h2 {
    font-size: 22px;
    line-height: 30px;
  }
}
.md-lite h2 {
  letter-spacing: 0.01em;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

h3 {
  font-size: 22px;
  font-weight: 300;
}

.md-lite h1,
.md-lite h2,
.md-lite h3,
.md-lite h4,
.md-lite h5,
.md-lite h6 {
  color: #202124;
  font-family: "Google Sans", "open sans", arial, sans-serif;
  letter-spacing: 0.01em;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .md-lite h5,
  .md-lite h6,
  .md-lite div,
  body.md-lite,
  .md-lite p {
    font-size: 15px;
  }
}

.md-lite h5,
.md-lite h6,
.md-lite div,
body.md-lite,
.md-lite p {
  letter-spacing: 0.01em;
  font-weight: 300;
  font-size: 14px;
}

h5,
h6,
div,
body,
p {
  letter-spacing: 0.01em;
  font-weight: 300;
  font-size: 15px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Roboto Regular", roboto-regular, "open sans", arial, sans-serif;
}
